.project {
    height: 100%;
    position: relative;
    background-size: cover;
    background-image: linear-gradient(
        
        rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.986)
      ), url(./../../images/7787c6081505451ca11acc8b43aa75ec.gif);
    min-height: 110vh;
  }
  .link-button{
    background-color: rgb(24, 12, 24);
    padding: 10px 10px;
    border-radius: 5px;
    color:black;
    font-weight: 200;
}


.text-white{
    text-align: center;
    
}
.panda-card{
    border: 0;
}
.panda-card-footer{
    background-color: white;
    border: 0;
}



