.header {
    height: 100%;
    position: relative;
    background-size: cover;
    background-image: linear-gradient(
          
          rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)
        ), url(./../../images/7787c6081505451ca11acc8b43aa75ec.gif);
    min-height: 110vh;
    
  }
  