
  .contact {
    text-align: center;
    height: 100%;
    position: relative;
    background-size: cover;
    background-color: black;
    -webkit-filter:blur(0.8);
    filter:drop-shadow(1.2);
    min-height: 110vh;
  }
  #contact-form{
      align-items: center;
      justify-content: center;
      margin-left: 80%;
      margin-right:20%;
      padding: 30px;
  }
 
.error{
  color: red;
}
 
  